body {
    background: linear-gradient(#B57303, #944103)
}

.App {
  text-align: center;
  transition: .03s;
  background: linear-gradient(#B57303, #944103);
}

.notNav {
  display: grid;
  grid-template-columns: 20% 80%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background: #FAFFBD;
}

h2 {
  border: 2px solid black;
}

h3 {
  color: #FAFFBD;
}

.BreweryList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input {
  font-size: 25px;
  margin-bottom: 10px;
}

#form {
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  background: #D3A62A;
  flex-direction: column;
  height: 800px;
}

form {
  display: inline;

}

button {
  background: #612911;
  color: #E3C454;
  transition: 200ms;
  font-size: 25px;
}

button:hover {
  background: #E3C454;
  color: #612911
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
