.App {
  text-align: center;
  background: white;
  font-family: "Ultra", serif;
}

nav {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  max-width: 100vw;
  background: rgb(30, 30, 30);
  height: 70px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  text-align: left;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: #faffbd;
  font-size: 85px;
  text-shadow: 5px 5px black;
  font-weight: 400;
}

#get-started {
  color: gold;
  font-size: 45px;
  padding: 5px;
  border: 3px solid gold;
  border-radius: 7px;
  background-color: white;
  text-decoration: none;
  font-family: "Ultra", serif;
  transition: background-color 300ms;
}

#get-started:hover {
  background-color: rgb(30, 30, 30);
}

#a {
  text-decoration: none;
  color: #faffbd;
  border: none;
  font-family: "Ultra", serif;
  align-self: center;
}

#a:hover {
  color: gold;
}

#logo {
  text-align: left;
  color: gold;
  font-size: 30px;
  font-family: "Ultra", serif;
  align-self: center;
}

#welcome {
  grid-column-start: 1;
  grid-column-end: 3;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: 0;
  background: no-repeat url(https://i.imgur.com/rfv3AZj.jpg);
  background-size: cover;
  z-index: 1;
  width: 100%;
  max-width: 100vw;
}

#cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.main {
  margin-left: 20%;
  min-height: 77vh;
}

#form {
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  background: white;
  flex-direction: column;
  height: 600px;
  /* min-width: 300px; */
  width: 19%;
  position: fixed;
  top: 80px;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.02s;
  box-shadow: 1px 5px 6px 1px rgba(32, 33, 36, 0.28);
  border-radius: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

input {
  margin-bottom: 10px;
  width: 85%;
  padding-left: 5px;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  font-family: "Ultra", serif;
  font-size: 25px;
}

input:focus {
  outline: none;
  background-color: white;
}

input:after {
  background-color: white;
}

button {
  background: #1e1e1e;
  color: gold;
  transition: background-color 300ms;
  border-radius: 5px;
  border: transparent;
  padding: 1px;
  width: 85%;
  font-family: "Ultra", serif;
  font-size: 25px;
}

button:hover {
  background: gold;
  color: #1e1e1e;
  cursor: pointer;
}

button:focus {
  outline: none;
}

form {
  display: inline;
}

.BreweryList {
  margin-top: 90px;
}

#brewery {
  background: white;
  margin: 10px;
  margin-left: 15px;
  height: 400px;
  min-width: 350px;
  width: 50%;
  max-width: 650px;
  box-shadow: 1px 5px 6px 1px rgba(32, 33, 36, 0.28);
  grid-column-start: 1;
  font-family: "Ultra", sans-serif;
  text-align: left;
  border-radius: 5px;
  padding-left: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: static;
}

h2 {
  color: gold;
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1e1e1e;
  font-family: "Ultra", serif;
}

h4 {
  color: black;
  font-size: 30px;
  font-family: "Georgia", serif;
  font-size: 20px;
}

a {
  color: black;
  transition: 300ms color;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: "Georgia", serif;
}

a:hover {
  color: gold;
}

.no {
  margin-top: -20px;
  color: black;
  font-family: "Georgia", serif;
}

p {
  color: black;
  font-size: 25px;
  font-family: "Georgia", serif;
}

.innerMap {
  margin-left: 101%;
  margin-top: -238px;
  box-shadow: 1px 5px 6px 1px rgba(32, 33, 36, 0.28);
  z-index: -1;
  height: 350px;
  width: 92%;
}

.link {
  margin: 5px;
  font-size: 40px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #1e1e1e;
  background: #f1f1f1;
  z-index: -1;
  width: 100%;
  border-top: 1px solid #efefef;
}

.git {
  height: 50px;
  width: auto;
  border-radius: 25px;
  margin-left: 6px;
  margin-right: 6px;
  filter: grayscale(100%);
  z-index: -1;
}

h6 {
  margin-right: 10px;
}

@media only screen and (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  nav {
    width: 100vw;
  }

  #logo {
    font-size: 16px;
    margin-left: 10px;
  }

  #a {
    font-size: 14px;
    align-self: center;
    margin-right: 10px;
  }

  h1 {
    font-size: 45px;
    margin-top: 100px;
  }

  #get-started {
    border-radius: 5px;
    font-size: 26px;
  }

  #form {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    height: 60px;
    margin-top: -10px;
    margin-bottom: 5px;
  }

  input {
    font-size: 11px;
    margin: 0;
  }

  button {
    font-size: 11px;
    margin: 0;
    width: 80%;
  }

  #brewery {
    margin: 5px;
    height: 150px;
    min-width: 45%;
    width: 50%;
    box-shadow: 1px 5px 6px 1px rgba(32, 33, 36, 0.28);
    font-family: "Ultra", sans-serif;
    text-align: left;
    border-radius: 5px;
    padding-left: 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: static;
  }

  .innerMap {
    margin-left: 51vw;
    margin-top: -115px;
    width: 90%;
  }

  h2 {
    font-size: 13px;
    font-family: "Georgia", serif;
    color: black;
    -webkit-text-stroke-width: 0;
  }

  a {
    font-size: 9px;
    color: gold;
  }

  h4 {
    font-size: 9px;
  }

  .no {
    font-size: 9px;
    margin: 0;
  }

  p {
    font-size: 9px;
  }

  h6 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 475px) {
  .main {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  nav {
    width: 100vw;
  }

  #logo {
    font-size: 14px;
    margin-left: 10px;
  }

  #a {
    font-size: 12px;
    align-self: center;
    margin-right: 10px;
  }
}
