body {
    background: linear-gradient(#B57303, #944103)
}

.App {
  text-align: center;
  transition: .03s;
  background: linear-gradient(#B57303, #944103);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background: #FAFFBD;
}

.notNav {
  display: grid;
  grid-template-columns: 20% 80%;
}

#brewery {
  background: black;
  margin: 10px;
  height: 350px;
  width: 650px;
}

h2 {
  border: 2px solid #944203;
  padding: 5px;
  color: #944203;
}

h3 {
  color: #FAFFBD;
  font-size: 35px;
}

h4 {
  color: #944203;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #944203;
  transition: 200ms;
  padding-bottom: 5px;
  font-size: 25px;
}

a:hover {
  color: #D3A62A;
}

p {
  color: #944203;
  font-size: 25px;
}

.BreweryList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input {
  font-size: 25px;
  margin-bottom: 10px;
}

#form {
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  background: #D3A62A;
  flex-direction: column;
  height: 800px;
  position: sticky;
  top: 10px;
  margin-left: 10px;
}

form {
  display: inline;

}

button {
  background: #612911;
  color: #E3C454;
  transition: 200ms;
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid #E3C454;
}

button:hover {
  background: #E3C454;
  color: #612911;
  border: 1px solid #612911;
}
